$radius: 8px;

.login {
  width: min(450px, 90vw);
  margin: auto;
  padding: 1em;
  background-color: #f9f9f9;
  border-radius: $radius;

  button[type="submit"] {
    background-color: #747bff;
    color: #fff;
    width: 100%;
  }
}

.form-control {
  margin-bottom: 2em;

  label {
    display: block;
    text-align: left;
  }

  input {
    $radius: 4px;

    display: block;
    width: 100%;
    border-radius: $radius;
    border: 1px solid;
  }
}

.error {
  color: red;
}
