#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  // text-align: center;
}
.container{
  display: grid;
  grid-template-columns: 230px 1fr;
  
  
  header {
    // display: flex;
    // flex-direction: column;
    border: solid;
    border-radius: 10px;
    background-color: #e5e1e1;
    
    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30rem;
      
    }
    
    ul {
      display: flex;
      gap: 1.5em;
      list-style: none;

      display: flex;
      flex-direction: column;
    }
  }

  main {
    padding: 1rem;
    width: 100%;

  
  }
}
