.tasks{
    border-radius: 10px;
    background-color: #e5e1e1;
    display: block;
    height: 100%;
    padding: 10px 20px;

    
 

    input{
        background-color: inherit;
        border: 1px solid gray;
        border-radius: 10px;

        font-size: 1.3rem;
        padding: 3px;
        margin-right: 20px;
    }

}